<section class="contact-section w-100" >
    <div class="container text-center">
        <h2 class="text-uppercase port-content fw-bolder fs-1" >conatct section</h2>
        <div class="separator">
          <span class="line"></span>
          <span class="star"><i class="fa-solid fa-star"></i></span>
          <span class="line"></span>
          
        </div>
        <div class="input-container w-50 mx-auto mt-5 " >
          <label [class.active]="userName.length > 0" for="userName" >userName:</label>
         <input [(ngModel)]="userName"  type="text" id="userName" required class="form-control border-0 border-bottom py-3" placeholder="userName" >
        </div> 
        <div class="input-container w-50 mx-auto mt-5 " >
          <label [class.active]="userAge.length > 0" for="userAge" >userAge:</label>
         <input [(ngModel)]="userAge"  type="text" id="userAge" required class="form-control border-0 border-bottom py-3" placeholder="userAge" >
        </div> 
        <div class="input-container w-50 mx-auto mt-5 " >
          <label [class.active]="userEmail.length > 0" for="userEmail" >userEmail:</label>
         <input [(ngModel)]="userEmail"  type="text" id="userEmail" required class="form-control border-0 border-bottom py-3" placeholder="userEmail" >
        </div> 
        <div class="input-container w-50 mx-auto mt-5 " >
          <label [class.active]="userPassword.length > 0" for="userPassword" >userPassword:</label>
         <input [(ngModel)]="userPassword"  type="text" id="userPassword" required class="form-control border-0 border-bottom py-3" placeholder="userPassword" >
         <div class="btn-container">
          <button type="submit" class="btn position-relative mt-4 text-white">send Message</button>
        </div>
        </div> 


        
    </div>
</section>