<section class="framework-section w-100 ">
    <div class="container text-center">
      <div class="">
        <img src="./assets/imgs/imads mealify1.svg" class="img-icon " alt="">
        <h2 class="fw-bolder fs-1 mb-3 text-uppercase" >start Framework</h2>
      </div>
      <div class="separator">
        <span class="line fw-bolder fs-1 "></span>
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="line"></span>
      </div>
      <div class="content">
        Graphic Artist - Web Designer - Illustrator
      </div>
    </div>
  </section>
