<section class="portfolio-section w-100 ">
    <div class="container text-center">
      <h2 class="text-uppercase fw-bolder fs-1" >portfolio component</h2>
      <div class="separator">
        <span class="line"></span>
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="line"></span>
      </div>

       <div class="row g-4" >
        @for (item of imgs; track $index) {
          <div class="col-md-4">
            <div class="overflow-hidden rounded-3 position-relative ">
              <img #myimg [src]="item" class="w-100 rounded-3" alt="">
              
              <div class="layer position-absolute d-flex justify-content-center align-items-center ">
                <i (click)="ishiden=false ; modelimg=item" class="text-white fa-solid fa-plus fa-6x" ></i>
              </div>
              </div>
             
          </div>
        }
       </div>
      

    </div>
    <div  (click)="ishiden=true" [class.d-none]="ishiden" class="modal position-fixed start-0 top-0 w-100 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center  ">
      <img [src]="modelimg" alt="">
    </div>
     
  </section>

